<!-- <div class="flex items-center justify-center min-h-screen">
  <div class="w-full max-w-md bg-slate-100 shadow-2xl rounded-xl p-8">
    <h1 class="text-3xl font-bold text-primary text-center mb-6">Autenticación</h1>
    <router-outlet />
  </div>
</div> -->
<div class="flex items-center justify-center min-h-screen">
  <div class="w-full max-w-md bg-slate-100 shadow-2xl rounded-xl p-8">
    <h1 class="text-3xl font-bold text-primary text-center mb-6">Autenticación</h1>
    <router-outlet />
  </div>
</div>
