<form class="flex flex-col gap-5 p-8 rounded-xl shadow-md bg-base-100 max-w-md mx-auto" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <label class="input input-bordered flex items-center gap-3 text-lg h-14">
    <svg class="h-6 w-6 text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
        <rect width="20" height="16" x="2" y="4" rx="2"></rect>
        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
      </g>
    </svg>
    <input type="email" placeholder="mail@site.com" required formControlName="email" class="grow text-base" />
  </label>
  <div class="text-sm text-error hidden">Ingrese un correo válido</div>

  <label class="input input-bordered flex items-center gap-3 text-lg h-14">
    <svg class="h-6 w-6 text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
        <path d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"></path>
        <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
      </g>
    </svg>
    <input type="password" placeholder="Contraseña" required minlength="6" formControlName="password" class="grow text-base" />
  </label>

  <button type="submit" class="btn btn-primary w-full h-12 text-lg">Ingresar</button>

  <p class="text-base text-center text-base-content mt-2">
    ¿No tienes cuenta?
    <a routerLink="/auth/register" class="text-primary font-medium">Crea una aquí</a>
  </p>
</form>

@if (hasError()) {
  <div role="alert" class="alert alert-error animate-fadeIn fixed bottom-5 right-5 w-72 shadow-lg text-base">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Por favor, revise la información.</span>
  </div>
}
